*.swp
.libs/
compile
config.guess
config.sub
libsim-*a
libtool
ltmain.sh
m4/
sim-0.1.pc
sim-0.1.tar.gz
sim-0.1/
sim/.dirstamp
*.lo
output.txt
sim/sim
src/.dirstamp
testsim
*.o
src/sim
config.h
*.status
.deps/
stamp-h1
aclocal.m4
autom4te.cache/
*.in
*~
install-sh
*.log
missing
Makefile
Makefile.in
gmon.out
configure
depcomp
src/output.txt
src/sim.h
build-aux/
configure.scan
